<style>
	form .ng-invalid-required.ng-dirty {
		background-color: lightpink;
	}

	form .ng-invalid-email.ng-dirty {
		background-color: lightgoldenrodyellow;
	}

	form .ng-valid.ng-dirty {
		background-color: lightgreen;
	}

	span.summary.ng-invalid {
		color: red;
		font-weight: bold;
	}

	span.summary.ng-valid {
		color: green;
	}

	div.error {
		color: red;
		font-weight: bold;
	}
</style>

<section class="mainbar" data-ng-controller="reg as vm">
	<section class="matter">
		<div class="container">
			<div class="row">
				<div class="widget wviolet">
					<div data-cc-widget-header title="{{vm.title}}"></div>
					<div class="widget-content user">
						<form name="myForm" novalidate ng-submit="vm.save()">
							<div class="well">
								<div class="form-group">
									<input type="text" class="form-control" name="userName" placeholder="Name" required
										   data-ng-model="vm.newUser.Name" />
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Address" name="userAddress" required
										   data-ng-model="vm.newUser.Address" />
								</div>
								<div class="form-group">
									<input type="password" placeholder="Password" class="form-control" name="userPassword" required
										   data-ng-model="vm.newUser.Password" />
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="myForm.$invalid">
									Sign up
								</button>
							</div>
							<div class="">
								<span class="summary" ng-class="vm.failed?'ng-invalid':'ng-valid'">
									{{vm.message}}
								</span>
							</div>
						</form>
					</div>
					<div class="widget-foot">
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
